<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- JDBC Database connection settings -->
        <property name="connection.driver_class">com.intersystems.jdbc.IRISDriver</property>
        <property name="connection.url">jdbc:IRIS://127.0.0.1:51773/User</property> 
        <property name="connection.username">SuperUser</property>
        <property name="connection.password">SYS</property>

        <!-- JDBC connection pool settings ... using built-in test pool -->
        <property name="connection.pool_size">1</property>

        <!-- Select our SQL dialect -->
        <property name="dialect">org.hibernate.dialect.InterSystemsIRISDialect</property>

        <!-- Echo the SQL to stdout -->
        <property name="show_sql">true</property>

		<!-- Set the current session context -->
		<property name="current_session_context_class">thread</property>
		
		<mapping class="Solutions.Demo.Person"/>
		<mapping class="Solutions.Demo.Trade2"/>
		<mapping class="Solutions.Demo.Stock"/>
	
		 
    </session-factory> 

</hibernate-configuration>
